{% extends 'base.html'%}

{% load static %}

{% block body_block %}
{% include 'navbar.html' %}


<div class="container" style="padding:200px">
  <!-- <a href="{% url 'account_app:editProfile'%}">Edit</a> -->
  <div class="col-lg-12">
    <div class="blog_right_sidebar">
      <!-- <middle class="single_sidebar_widget search_widget"> -->
      <!-- <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search Posts">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                </div> -->
      <!-- /input-group -->
      <!-- <div class="br"></div>
                            </middle> -->
      <middle class="single_sidebar_widget author_widget">

        <img class="author_img  rounded-circle" src=" {% static "img/volunteer/volunteer1.jpg"%}" alt="" style="display: block;
        margin-left: auto;
        margin-right: auto;
        height:200px;
        width:200px;
        ">


        <!-- <style>
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;

          }
        </style> -->

        <h4>Shahnewaz Siddique</h4>
        <p>North South University, Basundhara, Dhaka</p>
        <!-- <p>Assistant Professor</p>
        <p><br> Phd, Aerospace Engineering, Georgia Institute of Technology, Atlanta, Georgia, USA. </br>
        <p> MS, Aeronautics/Astronautics, Stanford University, Stanford, California, USA.</p>
        <p> MS, Computational Mathematics, Stanford University, Stanford, California, USA. </p>
        <p> B.Eng, Electrical and Computer Engineering, McGill University, Montreal, Canada.</p>
        </p> -->

        <div class="social_icon">
          <style>
            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          </style>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google"></i></a>
          <!-- <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a> -->
        </div>
        <!-- <p>shahnewaz.siddique@northsouth.edu</p> -->
        <div class="br"></div>
      </middle>

    </div>





    {% endblock %}