{% extends 'base.html' %}
{% load static %}

{% block body_block %}

{% include 'navbar.html' %}

<section class="causes_area">
  <div class="container">
    <div class="main_title">
      <h2>categories</h2>
      <p>here you can select your items to collect</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_causes">
          <h4>Give Donation</h4>
          <img src="{% static "img/donate_1.png" %}" alt="">
          <p> Here you can donate foods, clothes,Medicine or your unused products and stuff. By showing this act of kindness you will make someone smile.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_causes">
          <h4>Collect Items</h4>
          <img src="{% static "img/collect.png" %}" alt="">
          <p>
            You can collect your items from here. We are providing you food, clothes, medicine and other items for your need.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_causes">
          <h4>Become Volunteer</h4>
          <img src="{% static "img/become_volunteer.png" %}" alt="">
          <p>
            Become a volunteer. Be kind and help the poor people to remove hunger from this world. Help them by being kind.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Causes Area =================-->

<!--================ Start Features Cause section =================-->
<section class="features_causes">
  <div class="container">
    <div class="main_title">
      <h2>Categories</h2>
      <p>Choose which items you want to collect or donate</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static "img/features/fc1.jpg" %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Medicine for emergency</h4>
              <p class="card-text">
                Here you can collect emergency medicine and ambulance service.
              </p>
              <div class="d-flex justify-content-between raised_goal">
                <p>Available: 900 items</p>
                <p><span>collect 7 people</span></p>
              </div>
              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">Donate</a>
                <a href="#" class="primary_btn">Collect</a>
                <p><span class="lnr lnr-heart"></span> 90 people</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static "img/features/fc2.jpg" %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Food for people</h4>
              <p class="card-text">
                Here we provide food for the poor.
              </p>
              <div class="d-flex justify-content-between raised_goal">
                <p> Availbale: 1200items</p>
                <p><span>Collect 20people</span></p>

              </div>
              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">Donate</a>
                <a href="#" class="primary_btn">Collect</a>
                <p><span class="lnr lnr-heart"></span> 90 people</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <figure>
              <img class="card-img-top img-fluid" src="{% static "img/features/fc3.jpg" %}" alt="Card image cap">
            </figure>
            <div class="card_inner_body">
              <h4 class="card-title">Providing clothes</h4>
              <p class="card-text">
                You can donate and collect your extra clothes from here.
              </p>
              <div class="d-flex justify-content-between raised_goal">
                <p>Available : 1500items</p>
                <p><span> Collect : 4 people</span></p>
              </div>
              <div class="d-flex justify-content-between donation align-items-center">
                <a href="#" class="primary_btn">Donate</a>
                <a href="#" class="primary_btn">Collect</a>
                <p><span class="lnr lnr-heart"></span> 90 people</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Cause section =================-->

<!--================ Start CTA Area =================-->
<div class="cta-area section_gap overlay">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h1>Become a volunteer</h1>
        <p>We are here to deliver your items incase of emergency

        </p>
        <a href="#" class="primary_btn yellow_btn rounded">join with us</a>
      </div>
    </div>
  </div>
</div>
<!--================ End CTA Area =================-->

<!--================ Start footer Area  =================-->
<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row section_gap">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">Our Mission</h4>
            <p>
              Our mission is to help the distress and poor people by giving them what they neeed. Needy people also can collect their items. People can donate their excess things here. Our mission is to help those.
            </p>
            <p>
              Together we can make this world better!
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Quick Links</h4>
            <ul class="list">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget instafeed">
            <h4 class="footer_title">Gallery</h6>
              <ul class="list instafeed d-flex flex-wrap">
                <li><img src="img/gallery/poor1.jpg" alt=""></li>
                <li><img src="img/gallery/poor2.jpg" alt=""></li>
                <li><img src="img/gallery/poor3.jpg" alt=""></li>
                <li><img src="img/gallery/poor4.jpg" alt=""></li>
              </ul>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Contact Us</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Head Office
              </p>
              <p>Block C, Road 11, Basundhara</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Phone Number
              </p>
              <p>
                +880 1627180962 <br>
                +880 1722189503
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                nusrat.tumpa@gmal.com <br>
                khadizatul.kubra@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex">
        <p class="col-lg-12 footer-text text-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> made with love <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Nusrat and Soha</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock %}