{% load static %}
<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">HelpVille</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>

    </div>
  </div>
</nav> -->

<!--================ Start Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="helpville_logo" href="{% url 'Home:home' %}"><img src="{% static "img/Helpville_logo.png"%}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item active"><a class="nav-link" href="{% url 'Home:home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'Home:categories'%}">Categories</a>
                <!-- <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="events.html">Choose your itmes</a>
                    <li class="nav-item"><a class="nav-link" href="event-details.html">Available Items</a>
                    <li class="nav-item"><a class="nav-link" href="elements.html">Emergency Items</a></li>
                  </ul>
                </li>  -->
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Booth</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url "Home:booth"%}">Booth Location</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url "Home:reviews"%}">Reviews</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url "account_app:login"%}">Sign in</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--================ End Header Menu Area =================-->